<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site uses Mapbox and Darksky APIs.</p>
        <img class="portrait" src="/img/DSC_0034.JPG">
    </div>
    {{>footer}}
</body>

</html>